<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
<div class="alert alert-danger" role="alert">
    <h3 class="alert-heading"><%= err.message %> </h3>
    <hr>
    <% if(process.env.NODE_ENV !== "production") { %> 
    <p>
        Ocorreu um Erro, tente atualizar a página. Ou tente de novo mais tarde.
    </p>
    <% } %> 
</div>
</div>
</div>