<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Novo Navio</h1>
    <div class="col-6 offset-3">
        <form action="/navios" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="situation">Situação:</label>
                <select class="form-select" name="navio[situation]" id="Situation">
                    <option value="ATRACADO" name="navio[situation]">Atracado</option>
                    <option value="ESPERADO" name="navio[situation]">Esperado</option>
                    <option value="FUNDEADO" name="navio[situation]">Fundeado</option>
                </select>
            </div>
        <div class="mb-3">
            <label class="form-label" for="Navio">Navio:</label>
            <input class="form-control" type="text" id="Navio" name="navio[Navio]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Bandeira">Bandeira:</label>
            <input class="form-control" type="text" id="Bandeira" name="navio[Bandeira]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Viagem">N. Viagem:</label>
            <input class="form-control" type="number" id="Viagem" name="navio[Viagem]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Armador">Armador:</label>
            <input class="form-control" type="text" name="navio[Armador]" id="Armador">
        </div>
        <div class="mb-3">
            <label class="form-label" for="IMO">IMO:</label>
            <input class="form-control" type="text" id="IMO" name="navio[IMO]">
        </div>    
        <div class="mb-3">
            <label class="form-label" for="GRT">GRT:</label>
            <input class="form-control" type="number" id="GRT" name="navio[GRT]">
        </div>
        <div class="mb-3">
            <label class="form-label" for="DWT">DWT:</label>
            <input class="form-control" type="number" id="DWT" name="navio[DWT]">
        </div>
        <div class="mb-3">
            <label class="form-label" for="LOA">LOA:</label>
            <input class="form-control" type="number" id="LOA" name="navio[LOA]">
        </div>
        <div class="mb-3">
            <label class="form-label" for="Carga">Carga:</label>
            <input class="form-control" type="text" id="Carga" name="navio[Carga]" required>
        </div>
            <div>
            <label class="form-label" for="Berco">Berço:</label>
            <input class="form-control" type="number" min="1" max="3" id="Berco" name="navio[Berco]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ETA">ETA:</label>
            <input class="form-control mb-1" type="date" id="ETA" name="navio[ETA]" required>
            <input class="form-control mb-1" type="time" id="ETA_time" name="navio[ETA_time]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ETB">ETB:</label>
            <input class="form-control mb-1" type="date" id="ETB" name="navio[ETB]" required>
            <input class="form-control mb-1" type="time" id="ETB_time" name="navio[ETB_time]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ETS">ETS:</label>
            <input class="form-control mb-1" type="date" id="ETS" name="navio[ETS]" required>
            <input class="form-control mb-1" type="time" id="ETS_time" name="navio[ETS_time]" required>
        </div>
        <div class="mb-3">
            <h3>Calado de Entrada</h3>
            <div class="mb-3">
                <label class="form-label" for="C_proa">Proa:</label>
                <input class="form-control" type="number" id="C_proa" name="navio[C_proa]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="C_popa">Popa:</label>
                <input class="form-control" type="number" id="C_popa" name="navio[C_popa]" required>
            </div>
        </div>
        <div class="mb-3">
            <h3>Calado de Saida</h3>
            <div class="mb-3">
                <label class="form-label" for="CS_proa">Proa:</label>
                <input class="form-control" type="number" id="CS_proa" name="navio[CS_proa]" value="0">
            </div>
            <div class="mb-3">
                <label class="form-label" for="CS_popa">Popa:</label>
                <input class="form-control" type="number" id="CS_popa" name="navio[CS_popa]" value="0">
            </div>
        </div>
        <button class="btn btn-primary mb-3 text-white">Adicionar Navio</button>
        </form>
        <a href="/navios">Voltar para todos os navios</a>
    </div>
</div>

